.bgWrap {
  height: 100%;
  width: 100%;
  overflow: hidden;
  z-index: -1;
}

.bgText {
  text-align: center;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  justify-items: center;
}
